@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

#Logo {
    font-family: 'Kaushan Script', cursive;
}

.discount {
    text-decoration:line-through;
    color: #b4b4b4;
    position: relative;
}

.newPrice {
    font-size: 1.5em;
    padding: 10px;
}

.promoTime {
    display: block;
}

.maps {
    width: 100%;
    height: 200px;
}